<?xml version="1.0" encoding="UTF-8"?>
<rli-config>
  <use-button-pannel>false</use-button-pannel>
  <default-layout>1920x1080</default-layout>

  <layouts>
    <layout size="1280x1024">
      <rli-circle x="512" y="512" radius="480" font="F8X8B" />
      <menu x="-4" y="152" width="236" height="262" font="F12X14B" />
      <magnifier x="-10" y="155" width="224" height="224" />

      <panels>
        <value-bar name="gain" x="4" y="4" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="water" x="4" y="29" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="rain" x="4" y="54" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="apch" x="4" y="79" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="emission" x="159" y="4" width="163" height="21" bar_width="50" font="F12X14B" />

        <label name="label5" x="4" y="104" width="102" height="20" font="F12X14B" />
        <label name="band" x="4" y="128" width="102" height="20" font="F12X14B" />
        <label name="label1" x="-244" y="44" width="112" height="20" font="F12X14B" />
        <label name="label2" x="-244" y="68" width="112" height="20" font="F12X14B" />
        <label name="label3" x="-244" y="92" width="112" height="20" font="F12X14B" />
        <label name="label4" x="-244" y="-68" width="96" height="32" font="F16X28B" />

        <!-- rect="left_x_top_x_width_x_height" -->
        <panel name="scale" x="-244" y="4" width="236" height="36">
          <text name="scale1" rect="5x5x80x28" allign="center" font="F16X28B" />
          <text name="slash" rect="85x5x16x28" allign="center" font="F16X28B" />
          <text name="scale2" rect="101x16x70x14" allign="center" font="F14X14B" />
          <text name="units" rect="176x12x56x14" allign="center" font="F14X14B" />
          <rect name="splitter" rect="174x0x1x36" />
        </panel>

        <panel name="vn" x="4" y="-4" width="140" height="66">
          <text name="header" rect="0x6x132x14" allign="center" font="F12X14B" />
          <table name="table" top="28" row_height="18">
            <column left="4" width="36" allign="left" font="F12X14B" />
            <column left="40" width="60" allign="right" font="F12X14B" />
            <column left="100" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="vd" x="-244" y="-4" width="140" height="52">
          <text name="header" rect="0x6x132x14" allign="center" font="F12X14B" />
          <table name="table" top="28" row_height="18">
            <column left="4" width="90" allign="right" font="F12X14B" />
            <column left="100" width="40" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="course" x="-4" y="4" width="236" height="38">
          <table name="table" top="4" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="position" x="-4" y="46" width="236" height="38">
          <table name="table" top="4" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="112" allign="right" font="F12X14B" />
          </table>
        </panel>

        <panel name="blank" x="-4" y="88" width="236" height="38">
        </panel>

        <panel name="clock" x="-4" y="130" width="236" height="18">
          <text name="label" rect="4x4x80x14" allign="center" font="F12X14B" />
          <text name="time" rect="120x4x96x14" allign="center" font="F12X14B" />
        </panel>

        <panel name="danger" x="-4" y="-330" width="236" height="20">
          <text name="label" rect="0x0x236x20" allign="center" font="F12X14B" />
        </panel>

        <panel name="tails" x="-4" y="-306" width="236" height="20">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="danger-details" x="-4" y="-264" width="236" height="38">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="vector" x="-4" y="-240" width="236" height="20">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="targets" x="-4" y="-68" width="236" height="168">
          <rect name="header-middle" rect="118x0x1x20" />
          <rect name="header-bottom" rect="0x20x236x1" />

          <text name="header" rect="4x4x228x14" allign="left" font="F12X14B" />
          <text name="current-target" rect="4x4x110x14" allign="right" font="F12X14B" />
          <text name="target-count" rect="4x4x228x14" allign="right" font="F12X14B" />

          <table name="table" top="24" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="cursor" x="-4" y="-4" width="236" height="60">
          <text name="header" rect="0x4x236x14" allign="center" font="F12X14B" />
          <table name="table" top="24" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>
      </panels>
    </layout>

    <layout size="1440x1080">
      <rli-circle x="540" y="540" radius="500" font="F8X8B" />
      <menu x="-4" y="152" width="236" height="262" font="F12X14B" />
      <magnifier x="-10" y="155" width="224" height="224" />

      <panels>
        <value-bar name="gain" x="4" y="4" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="water" x="4" y="29" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="rain" x="4" y="54" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="apch" x="4" y="79" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="emission" x="159" y="4" width="163" height="21" bar_width="50" font="F12X14B" />

        <label name="label5" x="4" y="104" width="102" height="20" font="F12X14B" />
        <label name="band" x="4" y="128" width="102" height="20" font="F12X14B" />
        <label name="label1" x="-244" y="44" width="112" height="20" font="F12X14B" />
        <label name="label2" x="-244" y="68" width="112" height="20" font="F12X14B" />
        <label name="label3" x="-244" y="92" width="112" height="20" font="F12X14B" />
        <label name="label4" x="-244" y="-68" width="96" height="32" font="F16X28B" />

        <!-- rect="left_x_top_x_width_x_height" -->
        <panel name="scale" x="-244" y="4" width="236" height="36">
          <text name="scale1" rect="5x5x80x28" allign="center" font="F16X28B" />
          <text name="slash" rect="85x5x16x28" allign="center" font="F16X28B" />
          <text name="scale2" rect="101x16x70x14" allign="center" font="F14X14B" />
          <text name="units" rect="176x12x56x14" allign="center" font="F14X14B" />
          <rect name="splitter" rect="174x0x1x36" />
        </panel>

        <panel name="vn" x="4" y="-4" width="140" height="66">
          <text name="header" rect="0x6x132x14" allign="center" font="F12X14B" />
          <table name="table" top="28" row_height="18">
            <column left="4" width="36" allign="left" font="F12X14B" />
            <column left="40" width="60" allign="right" font="F12X14B" />
            <column left="100" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="vd" x="-244" y="-4" width="140" height="52">
          <text name="header" rect="0x6x132x14" allign="center" font="F12X14B" />
          <table name="table" top="28" row_height="18">
            <column left="4" width="90" allign="right" font="F12X14B" />
            <column left="100" width="40" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="course" x="-4" y="4" width="236" height="38">
          <table name="table" top="4" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="position" x="-4" y="46" width="236" height="38">
          <table name="table" top="4" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="112" allign="right" font="F12X14B" />
          </table>
        </panel>

        <panel name="blank" x="-4" y="88" width="236" height="38">
        </panel>

        <panel name="clock" x="-4" y="130" width="236" height="18">
          <text name="label" rect="4x4x80x14" allign="center" font="F12X14B" />
          <text name="time" rect="120x4x96x14" allign="center" font="F12X14B" />
        </panel>

        <panel name="danger" x="-4" y="-330" width="236" height="20">
          <text name="label" rect="0x0x236x20" allign="center" font="F12X14B" />
        </panel>

        <panel name="tails" x="-4" y="-306" width="236" height="20">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="danger-details" x="-4" y="-264" width="236" height="38">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="vector" x="-4" y="-240" width="236" height="20">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="targets" x="-4" y="-68" width="236" height="168">
          <rect name="header-middle" rect="118x0x1x20" />
          <rect name="header-bottom" rect="0x20x236x1" />

          <text name="header" rect="4x4x228x14" allign="left" font="F12X14B" />
          <text name="current-target" rect="4x4x110x14" allign="right" font="F12X14B" />
          <text name="target-count" rect="4x4x228x14" allign="right" font="F12X14B" />

          <table name="table" top="24" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="cursor" x="-4" y="-4" width="236" height="60">
          <text name="header" rect="0x4x236x14" allign="center" font="F12X14B" />
          <table name="table" top="24" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>
      </panels>
    </layout>

    <layout size="1920x1080">
      <rli-circle x="800" y="540" radius="524" font="F8X8B" />
      <menu x="-4" y="152" width="236" height="262" font="F12X14B" />
      <magnifier x="-10" y="155" width="224" height="224" />

      <panels>
        <value-bar name="gain" x="4" y="4" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="water" x="4" y="29" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="rain" x="4" y="54" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="apch" x="4" y="79" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="emission" x="159" y="4" width="163" height="21" bar_width="50" font="F12X14B" />

        <label name="label5" x="4" y="104" width="102" height="20" font="F12X14B" />
        <label name="band" x="4" y="128" width="102" height="20" font="F12X14B" />
        <label name="label1" x="-244" y="44" width="112" height="20" font="F12X14B" />
        <label name="label2" x="-244" y="68" width="112" height="20" font="F12X14B" />
        <label name="label3" x="-244" y="92" width="112" height="20" font="F12X14B" />
        <label name="label4" x="-244" y="-68" width="96" height="32" font="F16X28B" />

        <!-- rect="left_x_top_x_width_x_height" -->
        <panel name="scale" x="-244" y="4" width="236" height="36">
          <text name="scale1" rect="5x5x80x28" allign="center" font="F16X28B" />
          <text name="slash" rect="85x5x16x28" allign="center" font="F16X28B" />
          <text name="scale2" rect="101x16x70x14" allign="center" font="F14X14B" />
          <text name="units" rect="176x12x56x14" allign="center" font="F14X14B" />
          <rect name="splitter" rect="174x0x1x36" />
        </panel>

        <panel name="vn" x="4" y="-4" width="140" height="66">
          <text name="header" rect="0x6x132x14" allign="center" font="F12X14B" />
          <table name="table" top="28" row_height="18">
            <column left="4" width="36" allign="left" font="F12X14B" />
            <column left="40" width="60" allign="right" font="F12X14B" />
            <column left="100" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="vd" x="-244" y="-4" width="140" height="52">
          <text name="header" rect="0x6x132x14" allign="center" font="F12X14B" />
          <table name="table" top="28" row_height="18">
            <column left="4" width="90" allign="right" font="F12X14B" />
            <column left="100" width="40" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="course" x="-4" y="4" width="236" height="38">
          <table name="table" top="4" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="position" x="-4" y="46" width="236" height="38">
          <table name="table" top="4" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="112" allign="right" font="F12X14B" />
          </table>
        </panel>

        <panel name="blank" x="-4" y="88" width="236" height="38">
        </panel>

        <panel name="clock" x="-4" y="130" width="236" height="18">
          <text name="label" rect="4x4x80x14" allign="center" font="F12X14B" />
          <text name="time" rect="120x4x96x14" allign="center" font="F12X14B" />
        </panel>

        <panel name="danger" x="-4" y="-330" width="236" height="20">
          <text name="label" rect="0x0x236x20" allign="center" font="F12X14B" />
        </panel>

        <panel name="tails" x="-4" y="-306" width="236" height="20">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="danger-details" x="-4" y="-264" width="236" height="38">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="vector" x="-4" y="-240" width="236" height="20">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="targets" x="-4" y="-68" width="236" height="168">
          <rect name="header-middle" rect="118x0x1x20" />
          <rect name="header-bottom" rect="0x20x236x1" />

          <text name="header" rect="4x4x228x14" allign="left" font="F12X14B" />
          <text name="current-target" rect="4x4x110x14" allign="right" font="F12X14B" />
          <text name="target-count" rect="4x4x228x14" allign="right" font="F12X14B" />

          <table name="table" top="24" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="cursor" x="-4" y="-4" width="236" height="60">
          <text name="header" rect="0x4x236x14" allign="center" font="F12X14B" />
          <table name="table" top="24" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>
      </panels>
    </layout>

    <layout size="1024x768">
      <rli-circle x="404" y="384" radius="360" font="F8X8B" />
      <menu x="-4" y="152" width="236" height="262" font="F12X14B" />
      <magnifier x="-10" y="155" width="224" height="224" />

      <panels>
        <value-bar name="gain" x="4" y="4" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="water" x="4" y="29" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="rain" x="4" y="54" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="apch" x="4" y="79" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="emission" x="159" y="4" width="163" height="21" bar_width="50" font="F12X14B" />

        <label name="label5" x="4" y="104" width="102" height="20" font="F12X14B" />
        <label name="band" x="4" y="128" width="102" height="20" font="F12X14B" />
        <label name="label1" x="-244" y="44" width="112" height="20" font="F12X14B" />
        <label name="label2" x="-244" y="68" width="112" height="20" font="F12X14B" />
        <label name="label3" x="-244" y="92" width="112" height="20" font="F12X14B" />
        <label name="label4" x="-244" y="-68" width="96" height="32" font="F16X28B" />

        <!-- rect="left_x_top_x_width_x_height" -->
        <panel name="scale" x="-244" y="4" width="236" height="36">
          <text name="scale1" rect="5x5x80x28" allign="center" font="F16X28B" />
          <text name="slash" rect="85x5x16x28" allign="center" font="F16X28B" />
          <text name="scale2" rect="101x16x70x14" allign="center" font="F14X14B" />
          <text name="units" rect="176x12x56x14" allign="center" font="F14X14B" />
          <rect name="splitter" rect="174x0x1x36" />
        </panel>

        <panel name="vn" x="4" y="-4" width="140" height="66">
          <text name="header" rect="0x6x132x14" allign="center" font="F12X14B" />
          <table name="table" top="28" row_height="18">
            <column left="4" width="36" allign="left" font="F12X14B" />
            <column left="40" width="60" allign="right" font="F12X14B" />
            <column left="100" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="vd" x="-244" y="-4" width="140" height="52">
          <text name="header" rect="0x6x132x14" allign="center" font="F12X14B" />
          <table name="table" top="28" row_height="18">
            <column left="4" width="90" allign="right" font="F12X14B" />
            <column left="100" width="40" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="course" x="-4" y="4" width="236" height="38">
          <table name="table" top="4" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="position" x="-4" y="46" width="236" height="38">
          <table name="table" top="4" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="112" allign="right" font="F12X14B" />
          </table>
        </panel>

        <panel name="blank" x="-4" y="88" width="236" height="38">
        </panel>

        <panel name="clock" x="-4" y="130" width="236" height="18">
          <text name="label" rect="4x4x80x14" allign="center" font="F12X14B" />
          <text name="time" rect="120x4x96x14" allign="center" font="F12X14B" />
        </panel>

        <panel name="danger" x="-4" y="-330" width="236" height="20">
          <text name="label" rect="0x0x236x20" allign="center" font="F12X14B" />
        </panel>

        <panel name="tails" x="-4" y="-306" width="236" height="20">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="danger-details" x="-4" y="-264" width="236" height="38">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="vector" x="-4" y="-240" width="236" height="20">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="targets" x="-4" y="-68" width="236" height="168">
          <rect name="header-middle" rect="118x0x1x20" />
          <rect name="header-bottom" rect="0x20x236x1" />

          <text name="header" rect="4x4x228x14" allign="left" font="F12X14B" />
          <text name="current-target" rect="4x4x110x14" allign="right" font="F12X14B" />
          <text name="target-count" rect="4x4x228x14" allign="right" font="F12X14B" />

          <table name="table" top="24" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="cursor" x="-4" y="-4" width="236" height="60">
          <text name="header" rect="0x4x236x14" allign="center" font="F12X14B" />
          <table name="table" top="24" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>
      </panels>
    </layout>

    <layout size="1366x768">    
      <rli-circle x="536" y="384" radius="360" font="F8X8B" />
      <menu x="-4" y="152" width="236" height="262" font="F12X14B" />
      <magnifier x="-10" y="155" width="224" height="224" />

      <panels>
        <value-bar name="gain" x="4" y="4" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="water" x="4" y="29" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="rain" x="4" y="54" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="apch" x="4" y="79" width="151" height="21" bar_width="50" font="F12X14B" />
        <value-bar name="emission" x="159" y="4" width="163" height="21" bar_width="50" font="F12X14B" />

        <label name="label5" x="4" y="104" width="102" height="20" font="F12X14B" />
        <label name="band" x="4" y="128" width="102" height="20" font="F12X14B" />
        <label name="label1" x="-244" y="44" width="112" height="20" font="F12X14B" />
        <label name="label2" x="-244" y="68" width="112" height="20" font="F12X14B" />
        <label name="label3" x="-244" y="92" width="112" height="20" font="F12X14B" />
        <label name="label4" x="-244" y="-68" width="96" height="32" font="F16X28B" />

        <!-- rect="left_x_top_x_width_x_height" -->
        <panel name="scale" x="-244" y="4" width="236" height="36">
          <text name="scale1" rect="5x5x80x28" allign="center" font="F16X28B" />
          <text name="slash" rect="85x5x16x28" allign="center" font="F16X28B" />
          <text name="scale2" rect="101x16x70x14" allign="center" font="F14X14B" />
          <text name="units" rect="176x12x56x14" allign="center" font="F14X14B" />
          <rect name="splitter" rect="174x0x1x36" />
        </panel>

        <panel name="vn" x="4" y="-4" width="140" height="66">
          <text name="header" rect="0x6x132x14" allign="center" font="F12X14B" />
          <table name="table" top="28" row_height="18">
            <column left="4" width="36" allign="left" font="F12X14B" />
            <column left="40" width="60" allign="right" font="F12X14B" />
            <column left="100" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="vd" x="-244" y="-4" width="140" height="52">
          <text name="header" rect="0x6x132x14" allign="center" font="F12X14B" />
          <table name="table" top="28" row_height="18">
            <column left="4" width="90" allign="right" font="F12X14B" />
            <column left="100" width="40" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="course" x="-4" y="4" width="236" height="38">
          <table name="table" top="4" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="position" x="-4" y="46" width="236" height="38">
          <table name="table" top="4" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="112" allign="right" font="F12X14B" />
          </table>
        </panel>

        <panel name="blank" x="-4" y="88" width="236" height="38">
        </panel>

        <panel name="clock" x="-4" y="130" width="236" height="18">
          <text name="label" rect="4x4x80x14" allign="center" font="F12X14B" />
          <text name="time" rect="120x4x96x14" allign="center" font="F12X14B" />
        </panel>

        <panel name="danger" x="-4" y="-330" width="236" height="20">
          <text name="label" rect="0x0x236x20" allign="center" font="F12X14B" />
        </panel>

        <panel name="tails" x="-4" y="-306" width="236" height="20">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="danger-details" x="-4" y="-264" width="236" height="38">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="vector" x="-4" y="-240" width="236" height="20">
          <table name="table" top="3" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="targets" x="-4" y="-68" width="236" height="168">
          <rect name="header-middle" rect="118x0x1x20" />
          <rect name="header-bottom" rect="0x20x236x1" />

          <text name="header" rect="4x4x228x14" allign="left" font="F12X14B" />
          <text name="current-target" rect="4x4x110x14" allign="right" font="F12X14B" />
          <text name="target-count" rect="4x4x228x14" allign="right" font="F12X14B" />

          <table name="table" top="24" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>

        <panel name="cursor" x="-4" y="-4" width="236" height="60">
          <text name="header" rect="0x4x236x14" allign="center" font="F12X14B" />
          <table name="table" top="24" row_height="18">
            <column left="4" width="116" allign="left" font="F12X14B" />
            <column left="120" width="60" allign="right" font="F12X14B" />
            <column left="186" width="36" allign="left" font="F8X14B" />
          </table>
        </panel>
      </panels>
    </layout>
  </layouts>

</rli-config>
